diffusers>=0.35
transformers>=4.54
sentencepiece
protobuf
huggingface_hub>=0.34
tomli
peft>=0.17
accelerate>=1.10
insightface
opencv-python
facexlib
onnxruntime
timm
https://static.juicefs.com/misc/juicefs-5.2.9.202508121612-py3-none-any.whl
